In [1]:
pip install mlxtend

Requirement already satisfied: mlxtend in e:\ldplayer\lib\site-packages (0.23.1)
Requirement already satisfied: scipy>=1.2.1 in e:\ldplayer\lib\site-packages (from mlxtend) (1.13.1)
Requirement already satisfied: numpy>=1.16.2 in e:\ldplayer\lib\site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in e:\ldplayer\lib\site-packages (from mlxtend) (2.2.2)
Requirement already satisfied: scikit-learn>=1.0.2 in e:\ldplayer\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: matplotlib>=3.0.0 in e:\ldplayer\lib\site-packages (from mlxtend) (3.8.4)
Requirement already satisfied: joblib>=0.13.2 in e:\ldplayer\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: contourpy>=1.0.1 in e:\ldplayer\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in e:\ldplayer\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in e:\ldplayer\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in e:\ldplayer\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in e:\ldplayer\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (23.2)
Requirement already satisfied: pillow>=8 in e:\ldplayer\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in e:\ldplayer\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in e:\ldplayer\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in e:\ldplayer\lib\site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in e:\ldplayer\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in e:\ldplayer\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in e:\ldplayer\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [21]:
pip install apyori

Requirement already satisfied: apyori in e:\ldplayer\lib\site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mlxtend.preprocessing import TransactionEncoder

from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from sklearn.preprocessing import OneHotEncoder

from apyori import apriori

In [31]:
df=pd.read_csv("Online retail.csv")

In [33]:
df

     shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0                                burgers,meatballs,eggs
1                                               chutney
2                                        turkey,avocado
3     mineral water,milk,energy bar,whole wheat rice...
4                                        low fat yogurt
...                                                 ...
7495                      butter,light mayo,fresh bread
7496  burgers,frozen vegetables,eggs,french fries,ma...
7497                                            chicken
7498                                 escalope,green tea
7499    eggs,frozen smoothie,yogurt cake,low fat yogurt

[7500 rows x 1 columns]

In [35]:
data=pd.DataFrame(df)

## Data Preperation

In [38]:
data.shape

(7500, 1)

In [40]:
data.describe()

       shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
count                                                7500
unique                                               5175
top                                               cookies
freq                                                  223

In [42]:
data.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
7495    False
7496    False
7497     True
7498     True
7499    False
Length: 7500, dtype: bool

In [44]:
data.drop_duplicates(inplace=True)

In [46]:
data.isnull()

      shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0                                                 False
1                                                 False
2                                                 False
3                                                 False
4                                                 False
...                                                 ...
7492                                              False
7493                                              False
7495                                              False
7496                                              False
7499                                              False

[5175 rows x 1 columns]

In [48]:
data.isna().sum()

shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil    0
dtype: int64

In [50]:
data.dtypes

shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil    object
dtype: object

In [52]:
te=TransactionEncoder()
encoded_data=te.fit_transform(data)

In [54]:
encoded_data

array([[ True,  True,  True, ...,  True,  True,  True],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]])

In [56]:
te.columns_

[' ',
 ',',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [58]:
data=pd.DataFrame(encoded_data,columns=te.columns_)
data

,,",",a,b,c,d,e,f,g,h,...,p,r,s,t,u,v,w,x,y,z
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5170,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5171,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5172,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5173,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5174,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [60]:
# converting data 0 and 1 format
# 0=False
# 1=True

data.replace([True,False],[1,0],inplace=True)

C:\Users\datta\AppData\Local\Temp\ipykernel_10192\366259193.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data.replace([True,False],[1,0],inplace=True)

In [62]:
## one hot encoding
label_encoded_data = pd.get_dummies(data)

label_encoded_data

         ,  a  b  c  d  e  f  g  h  ...  p  r  s  t  u  v  w  x  y  z
0     1  1  1  1  1  1  1  1  1  1  ...  1  1  1  1  1  1  1  1  1  1
1     0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
2     0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
3     0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
4     0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
...  .. .. .. .. .. .. .. .. .. ..  ... .. .. .. .. .. .. .. .. .. ..
5170  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
5171  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
5172  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
5173  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
5174  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0

[5175 rows x 27 columns]

In [64]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5175 entries, 0 to 5174
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0           5175 non-null   int64
 1   ,       5175 non-null   int64
 2   a       5175 non-null   int64
 3   b       5175 non-null   int64
 4   c       5175 non-null   int64
 5   d       5175 non-null   int64
 6   e       5175 non-null   int64
 7   f       5175 non-null   int64
 8   g       5175 non-null   int64
 9   h       5175 non-null   int64
 10  i       5175 non-null   int64
 11  j       5175 non-null   int64
 12  k       5175 non-null   int64
 13  l       5175 non-null   int64
 14  m       5175 non-null   int64
 15  n       5175 non-null   int64
 16  o       5175 non-null   int64
 17  p       5175 non-null   int64
 18  r       5175 non-null   int64
 19  s       5175 non-null   int64
 20  t       5175 non-null   int64
 21  u       5175 non-null   int64
 22  v       5175 non-null   int64
 23  w       5175 non-null   int64
 24  x       5175 non-null   int64
 25  y       5175 non-null   int64
 26  z       5175 non-null   int64
dtypes: int64(27)
memory usage: 1.1 MB

In [66]:
data1=(data>0).astype(int)
data1

         ,  a  b  c  d  e  f  g  h  ...  p  r  s  t  u  v  w  x  y  z
0     1  1  1  1  1  1  1  1  1  1  ...  1  1  1  1  1  1  1  1  1  1
1     0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
2     0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
3     0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
4     0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
...  .. .. .. .. .. .. .. .. .. ..  ... .. .. .. .. .. .. .. .. .. ..
5170  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
5171  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
5172  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
5173  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
5174  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0

[5175 rows x 27 columns]

In [68]:
records=[]
for i in range(1,5175):
    records.append([str(data.values[i, j]) for j in range(0, 20)])

In [69]:
type(records)

list

# Priori algorithom

In [90]:
req_itemset=apriori(df,min_support=0.1,use_colnames=True)
req_itemset

In [92]:
association_rules = apriori(records, min_support=0.0045, min_confidence=0.2, min_lift=3, min_length=2)
association_results = list(association_rules)

In [94]:
print("There are {} Relation derived.".format(len(association_results)))

There are 0 Relation derived.

# Association rule derived

In [100]:

for i in range(0, len(association_results)):
    print(association_results[i][0])

In [104]:
for item in association_results:
    # first index of the inner list
    # Contains base item and add item
    pair = item[0]
    items = [x for x in pair]
    print("Rule: " + items[0] + " -> " + items[1])

    # second index of the inner list
    print("Support: " + str(item[1]))

    # third index of the list located at 0th
    # of the third index of the inner list

    print("Confidence: " + str(item[2][0][2]))
    print("Lift: " + str(item[2][0][3]))
    print("=====================================")

In [106]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [108]:

from mlxtend.preprocessing import TransactionEncoder
from sklearn.feature_extraction.text import TfidfTransformer

In [110]:
te = TransactionEncoder()
te_try = te.fit(dataset).transform(dataset)

In [116]:
data = pd.DataFrame(te_try, columns=te.columns_)
data

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [118]:
apriori(df,min_support=0.5, use_colnames=True)

In [124]:
from mlxtend.frequent_patterns import apriori

In [126]:
frequent_itemsets = apriori(data, min_support=0.6, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

    support                     itemsets  length
0       0.8                       (Eggs)       1
1       1.0               (Kidney Beans)       1
2       0.6                       (Milk)       1
3       0.6                      (Onion)       1
4       0.6                     (Yogurt)       1
5       0.8         (Kidney Beans, Eggs)       2
6       0.6                (Onion, Eggs)       2
7       0.6         (Milk, Kidney Beans)       2
8       0.6        (Onion, Kidney Beans)       2
9       0.6       (Yogurt, Kidney Beans)       2
10      0.6  (Onion, Kidney Beans, Eggs)       3

In [128]:
frequent_itemsets[ (frequent_itemsets['length'] == 2) & (frequent_itemsets['support'] >= 0.8) ]

   support              itemsets  length
5      0.8  (Kidney Beans, Eggs)       2

In [130]:
frequent_itemsets[ frequent_itemsets['itemsets'] == {'Onion', 'Eggs'} ]

   support       itemsets  length
6      0.6  (Onion, Eggs)       2

Analysis:

As we know that association rules state that what goes with what, so in this dataset after model building it is observed that when a customer buys kidney beans then he also buys eggs and Onion.

what is lift and why it important in association rules?

Lift is a metric used in association rule mining to measure the strength of a rule relative to the frequency of its individual items. Specifically
 Lift helps identify rules that show a strong association between items beyond what would be expected by chance. Fo

what is support and confidence and how do you calculate them?

Support and Confidence are two key metrics in association rule mining that help measure the frequency and strength of relationships between items in a dataset, such as in market basket analysis
Support is a measure of how frequently a particular itemset appears in the dataset. It represents the proportion of transactions in which a given item or itemset occurs.

Support(X)= 
Total number of transactions
Number of transactions containing X
​
 
confidence
Confidence measures the likelihood that item 
𝐵
B will be purchased when item 
𝐴
A is purchased, or the probability of the rule 
𝐴
→
𝐵
A→B being true.
Confidence(A→B)= 
Support(A)
Support(A∩B)
​